In [24]:
from stock_data import fetch_single_stock_data, fetch_multiple_stocks_data
from stock_features import (
    calculate_daily_returns,
    create_next_day_targets,
    add_lagged_features,
    add_price_range_features,
    calculate_true_range,
    calculate_atr,
    add_volume_features,
    calculate_obv,
    calculate_rsi,
    calculate_macd,
    add_moving_averages,
    add_bollinger_bands,
    calculate_stochastic_oscillator,
    calculate_adx,
    add_time_based_features
)
import pandas as pd

In [25]:
df_single_stock = fetch_single_stock_data("AAPL", "2010-01-01", "2024-12-31")
df_single_stock.head()

Fetching data for AAPL from 2010-01-01 to 2024-12-31...

c:\Users\epoch_bpjmdqk\Documents\Code\stock_data.py:42: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stock_data = yf.download(ticker, start=start_date, end=end_date, progress=False)

            Close_AAPL  High_AAPL  Low_AAPL  Open_AAPL  Volume_AAPL
Date
2010-01-04    6.431895   6.446622  6.382907   6.414464    493729600
2010-01-05    6.443017   6.479382  6.409055   6.449629    601904800
2010-01-06    6.340533   6.468564  6.333921   6.443018    552160000
2010-01-07    6.328810   6.371487  6.282827   6.363974    477131200
2010-01-08    6.370885   6.371487  6.283128   6.320394    447610800

In [26]:
# Get the first column name from the DataFrame
first_column_name = df_single_stock.columns[0] # This will be 'Close_AAPL'

# Split the column name by the underscore '_'
parts = first_column_name.split('_') # This will give ['Close', 'AAPL']

# The ticker prefix is the second element (index 1) after splitting
ticker_prefix = parts[1]

print(f"The extracted ticker prefix is: {ticker_prefix}")

The extracted ticker prefix is: AAPL

In [27]:
df = add_price_range_features(df_single_stock, ticker_prefix)
df = calculate_true_range(df, ticker_prefix)
df = add_volume_features(df, ticker_prefix)
df = calculate_obv(df, ticker_prefix)
df.head()

c:\Users\epoch_bpjmdqk\Documents\Code\stock_features.py:111: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f'{ticker_prefix}_Close_to_Range_Ratio'].fillna(0.5, inplace=True) # If range is 0, assume middle
c:\Users\epoch_bpjmdqk\Documents\Code\stock_features.py:204: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f'{ticker_prefix}_Volume_MA_Ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
c:\Users\epoch_bpjmdqk\Documents\Code\stock_features.py:232: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[f'{ticker_prefix}_OBV'].iloc[0] = 0 # Set first value to 0 or first volume if preferred
c:\Users\epoch_bpjmdqk\Documents\Code\stock_features.py:232: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'{ticker_prefix}_OBV'].iloc[0] = 0 # Set first value to 0 or first volume if preferred

,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,AAPL_HighLow_Range,AAPL_OpenClose_Range,AAPL_Close_to_Range_Ratio,AAPL_True_Range,AAPL_Volume_Daily_Change,AAPL_Volume_MA_20D,AAPL_Volume_MA_Ratio,AAPL_OBV
Date,,,,,,,,,,,,,
2010-01-04,6.431895,6.446622,6.382907,6.414464,493729600,0.063715,0.017431,0.768868,NaN,NaN,493729600.0,1.000000,0.0
2010-01-05,6.443017,6.479382,6.409055,6.449629,601904800,0.070327,-0.006612,0.482909,0.070327,21.909807,547817200.0,1.098733,601904800.0
2010-01-06,6.340533,6.468564,6.333921,6.443018,552160000,0.134643,-0.102485,0.049108,0.134643,-8.264563,549264800.0,1.005271,49744800.0
2010-01-07,6.328810,6.371487,6.282827,6.363974,477131200,0.088660,-0.035164,0.518640,0.088660,-13.588235,531231400.0,0.898161,-427386400.0
2010-01-08,6.370885,6.371487,6.283128,6.320394,447610800,0.088359,0.050491,0.993193,0.088359,-6.187061,514507280.0,0.869980,20224400.0

In [28]:
df = calculate_rsi(df, ticker_prefix)
df.head()

  - Calculating RSI for AAPL (window=14)...

,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,AAPL_HighLow_Range,AAPL_OpenClose_Range,AAPL_Close_to_Range_Ratio,AAPL_True_Range,AAPL_Volume_Daily_Change,AAPL_Volume_MA_20D,AAPL_Volume_MA_Ratio,AAPL_OBV,AAPL_RSI14
Date,,,,,,,,,,,,,,
2010-01-04,6.431895,6.446622,6.382907,6.414464,493729600,0.063715,0.017431,0.768868,NaN,NaN,493729600.0,1.000000,0.0,NaN
2010-01-05,6.443017,6.479382,6.409055,6.449629,601904800,0.070327,-0.006612,0.482909,0.070327,21.909807,547817200.0,1.098733,601904800.0,NaN
2010-01-06,6.340533,6.468564,6.333921,6.443018,552160000,0.134643,-0.102485,0.049108,0.134643,-8.264563,549264800.0,1.005271,49744800.0,NaN
2010-01-07,6.328810,6.371487,6.282827,6.363974,477131200,0.088660,-0.035164,0.518640,0.088660,-13.588235,531231400.0,0.898161,-427386400.0,NaN
2010-01-08,6.370885,6.371487,6.283128,6.320394,447610800,0.088359,0.050491,0.993193,0.088359,-6.187061,514507280.0,0.869980,20224400.0,NaN

In [29]:
df = calculate_macd(df, ticker_prefix)
df.head()

  - Calculating MACD for AAPL (fast=12, slow=26, signal=9)...

,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,AAPL_HighLow_Range,AAPL_OpenClose_Range,AAPL_Close_to_Range_Ratio,AAPL_True_Range,AAPL_Volume_Daily_Change,AAPL_Volume_MA_20D,AAPL_Volume_MA_Ratio,AAPL_OBV,AAPL_RSI14,AAPL_MACD_Line,AAPL_MACD_Signal,AAPL_MACD_Hist
Date,,,,,,,,,,,,,,,,,
2010-01-04,6.431895,6.446622,6.382907,6.414464,493729600,0.063715,0.017431,0.768868,NaN,NaN,493729600.0,1.000000,0.0,NaN,NaN,NaN,NaN
2010-01-05,6.443017,6.479382,6.409055,6.449629,601904800,0.070327,-0.006612,0.482909,0.070327,21.909807,547817200.0,1.098733,601904800.0,NaN,NaN,NaN,NaN
2010-01-06,6.340533,6.468564,6.333921,6.443018,552160000,0.134643,-0.102485,0.049108,0.134643,-8.264563,549264800.0,1.005271,49744800.0,NaN,NaN,NaN,NaN
2010-01-07,6.328810,6.371487,6.282827,6.363974,477131200,0.088660,-0.035164,0.518640,0.088660,-13.588235,531231400.0,0.898161,-427386400.0,NaN,NaN,NaN,NaN
2010-01-08,6.370885,6.371487,6.283128,6.320394,447610800,0.088359,0.050491,0.993193,0.088359,-6.187061,514507280.0,0.869980,20224400.0,NaN,NaN,NaN,NaN